<div id="app">
    <button v-on:click="showAddOrderModal" class="btn btn-primary" style="margin:10px 0px 10px 0px;">Добавить заказ</button>
    <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else>
        <div v-if="loading">Загрузка...</div>

        <div class="orders-background">
            <div v-for="(item, index) in dataFull" :key="item.id" class="row order-template" v-bind:data-id="item.id">
                <div class="col-md-2 photo-container">
                    <img v-bind:src="[ item.isEdit? editPhotoUrl : item.product.photoUrl ]" class="img-responsive product-photo" alt="product-photo" />
                </div>
                <div class="col-md-10 info-container">
                    <div class="row margin-top-bottom-10">
                        <div class="col-xs-8">
                            <select v-if="item.isEdit" v-model="editProductSelect" class="form-control min-width-100">
                                    <option v-for="product in dataProducts" v-bind:value="product.id">{{ product.name }}</option>
                            </select>
                            <input v-else class="form-control min-width-100" type="text" v-bind:value="item.product.name" readonly />
                        </div>
                        <div class="col-xs-4">
                            <select v-if="item.isEdit" v-model="editStatusSelect" class="form-control">
                                <option v-for="status in dataStatuses" v-bind:value="status.id">{{ status.name }}</option>
                            </select>
                            <input v-else class="form-control" type="text" v-bind:value="item.status.name" readonly />
                        </div>
                    </div>
                    <div class="row product-information margin-top-bottom-10">
                        <div v-if="item.isEdit" class="col-xs-6">
                            <div class="display-flex">
                                <label class="width-100">Цена:</label>
                                <p>{{ editPrice }}$</p>
                            </div>
                            <div class="display-flex" style="align-items:center;">
                                <label class="width-100">Количество:</label>
                                <input v-model.number="editCount" class="form-control input-sm width-100" type="number" min="0" step="1" />
                            </div>
                            <div class="display-flex">
                                <label class="width-100">Сумма:</label>
                                <p>{{ editSumm }}$</p>
                            </div>
                        </div>
                        <div v-else class="col-xs-6">
                            <div class="display-flex">
                                <label class="width-100">Цена:</label>
                                <p>{{ item.product.price }}$</p>
                            </div>
                            <div class="display-flex">
                                <label class="width-100">Количество:</label>
                                <p>{{ item.count }}</p>
                            </div>
                            <div class="display-flex">
                                <label class="width-100">Сумма:</label>
                                <p>{{ item.count * item.product.price }}$</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div v-if="item.isEdit" class="order-button-block">
                                <button v-on:click="updateOrder(item.id, index)" class="btn btn-success margin-right-10">Сохранить</button>
                                <button v-on:click="editTypeOff(item, index)" class="btn btn-default">Отмена</button>
                            </div>
                            <div v-else class="order-button-block">
                                <button v-on:click="{ !classDisabled ? editTypeOn(item, index) : ''}" v-bind:class="classDisabled" class="btn btn-default margin-right-10">Изменить</button>
                                <button v-on:click="showDeleteModal(item.id, index)" class="btn btn-default">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- Modal -->
        <div class="modal fade" id="add-order-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавление заказа</h4>
                    </div>
                    <form v-on:submit.prevent="addOrder()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="product-list">Продукт:</label>
                                <select v-model="modalSelect" class="form-control" id="product-list">
                                    <option v-for="product in dataProducts" v-bind:value="product.id">{{ product.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="count">Количество:</label>
                                <input v-model.number="modalCount" class="form-control" type="number" id="count" min="0" step="1" />
                            </div>
                            <div class="display-flex">
                                <label class="modal-label">Цена:</label>
                                <p>{{ modalPrice }}$</p>
                            </div>
                            <div class="display-flex">
                                <label class="modal-label">Сумма:</label>
                                <p>{{ modalSumm }}$</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" v-bind:class="[ modalSumm > 0 ? '': 'disabled' ]">Добавить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Подтверждение</h4>
                    </div>
                    <div class="modal-body">
                        <p>Вы действительно хотите удалить заказ?</p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="deleteOrder" type="button" class="btn btn-primary" data-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/main.js" type="text/javascript"></script> 
}