
<div class="row" style="background-color:lightgrey;">
    <div class="col-xs-3 p-2" style="">
        <img src="https://www.apple.com/v/iphone/compare/n/images/overview/all_models_iphone6splus__c3os19tmy5si_large.jpg" alt="product-image" />
    </div>
</div>
